@tailwind base;
@import "./syntax-highlighting.css";
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 16 185 129;
        --color-secondary: 37 99 235;
        --color-darkBg: 23 23 23;
        --color-lightBg: 229 229 229;
    }
    body,
    header {
        @apply transition-colors duration-500 ease-out dark:duration-500 dark:ease-out dark:transition-colors dark:bg-darkBg;
    }
    h2,
    h3 {
        @apply pt-4 mt-[-16px];
    }
    p,
    ul,
    nav,
    a {
        @apply transition-colors duration-500 ease-out dark:duration-500 dark:ease-out dark:transition-colors dark:text-neutral-300;
    }
    li.active > a {
        @apply transition-colors duration-150 text-secondary;
    }
    li > a:hover {
        @apply transition-colors duration-150 text-secondary;
    }
}
